{% load static %}
<hero class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url({% static "images/WokBack-Slick.png" %} %}})]">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-24 px-10 ">
        <h1 class="font1 text-6xl title-fadein text-accent transition duration-300 ease-in-out hover:scale-110 dark:text-accentDark">Biscotty's Workshop</h1>
        <p class="text-lg font-bold mb-5 mt-10 text-accent dark:text-accentDark">For the love of learning...</p>
        {% if not user.is_authenticated %}
        <a class="button mt-6 p-3" href="{% url 'account_signup' %}">Join in!</a>
        {% endif %}
    </div>
</hero>